$fontSize: 15px;
$marginNavbarItems: 40px;

body {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 100vh;
	flex-direction: column;
	margin: 0;
	position: relative; // needed for navbar positioning
}

.myNavbar {
	position: absolute;
	top: 20px;
	right: 20px;

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-left: $marginNavbarItems;
		font-size: $fontSize;

		a {
			color: black;
			text-decoration: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.searchBox {
	text-align: center;
	input[type="text"] {
        margin-top: 35px;
		border-radius: 100px;
		padding: 10px;
		width: 500px;
		border: 1px solid black;
	}
	input[type="submit"]{
		border-radius: 10px;
		padding: 15px;
	}
    
	input {
		margin: 10px;
	}
}



.appbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; // aligns label to the left
  align-items: center;
  font-size: 1.5rem;

  label {
    margin: 0;
  }
}
.separator-line {
	width: 100%;
	height: 1px;
    border-bottom: solid 1px #d6d6d6;
}


.advanced-search-container {
    margin: 50px 40px;

    label {
        display: inline-block;
        width: 16%;
        font-size: 20px;
    }

    .whitespace {
        display: inline-block;
        width: 50%;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding: 10px 0;

        label {
            width: 16%;
            font-size: 14px;
        }

        input[type="text"] {
            width: 49%;
            padding: 2px 0;
        }

        .clarification {
            font-size: 11px;
            width: 30%;
            margin-left: 1%;

            .monospace {
                font-family: monospace;
            }
        }

        .right-align {
            width: 50%;
        }
    }
}

.blue-button {
        background-color: dodgerblue;
        color: white;
        font-size: smaller;
        max-width: 200px;
        border-radius: 0px;
        border: 1px solid #156bbd;
        float: right;
        padding: 10px 2px;
        margin: 0;
}